<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <title>ControlMaker</title>
    <link rel="stylesheet" href={{ url_for('static', filename='master.css') }}>
  </head>
  <body>
    <nav>
      <a href="/intro" class="itemNotSelected navItem">Bienvenido</a>
      <a href="/" class="itemNotSelected navItem">LGR</a>
      <a class="current navItem">Frecuencia</a>
    </nav>

    <div class="diseño">

      <div class="titulo">
        <h1>Frecuencia</h1>
      </div>

      <form class="" method="post">
        G: <input type="text" name="G" value={{planta}} class="box">
        Tr: <input type="text" name="tr" value={{tr}} class="box">
        Fase: <input type="text" name="fase" value={{fase}} class="box">
        Ts: <input type="text" name="ts" value="{{ts}}" class="box">
        <div class="tooltip">    ?
          <div class="tooltiptext">
            G : Función de Transferencia de la planta <br>
            Tr : Tiempo de respuesta<br>
            Fase : Fase<br>
            Ts : Tiempo de muestreo <br>
          </div>
        </div>
        <br>
        <br>
        <input type="radio" name="action" value="PD" id="PD">PD
        <input type="radio" name="action" value="PID" id="PID">PID
        <input type="radio" name="action" value="PI" id="PI">PI <br>
        <br>

        <button type="submit" name="button" class="botonDisenar">Diseñar</button>
      </form>

      <div class="">
        <h3>{{constantes}}</h3>
        <h6>{{valoresEqDif}}</h6>
      </div>

      <div class="container">
      </div>

      <div class="">
        <center>
        <input type="button" name="" onclick="controlUself()" value="Usar controlador" id="activar2" style="display:none;">
        <br>
      </center>
      </div>
      <br>
    </div>

    <div class="refOutside" id="refOutside">
      <center>
        <div class="referencia" id='referencia' style="display:none;">
          <br>
          Referencia= <input type="text" name="refControl" value="0" ><br><br>
          <input type="button" name="" value="Establecer" class="but1" >
          <br>
          <br>


        </div>
      </center>
    </div>
    <script src="{{ url_for('static', filename='setPlots.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='freqPlots.js') }}" charset="utf-8"></script>
    <script>
    document.getElementById({{estado|tojson|safe}}.accion).checked = true;
    document.getElementById('activar2').style.display = {{estado|tojson|safe}}.estado;
    function controlUself(){
      document.getElementById('referencia').style.display = 'inline';
      location.replace("/freq#refOutside");
    }



        window.onload = function() {
          var container = document.querySelector('.container');

          var plots = [{
            steppedLine: false,
            label: 'Respuesta en tiempo ',
            color: 'rgb(255, 99, 132)',
            Yset: {{yin|tojson|safe}},
            Xset: {{Tin|tojson|safe}},
          }, {
            steppedLine: false,
            label: 'Respuesta en tiempo con controlador',
            color: 'rgb(54, 162, 235)',
            Yset: {{yout|tojson|safe}},
            Xset: {{Tout|tojson|safe}},
          }];

          plots.forEach(function(details) {
            var div = document.createElement('div');
            div.classList.add('chart-container');

            var canvas = document.createElement('canvas');
            div.appendChild(canvas);
            container.appendChild(div);

            var ctx = canvas.getContext('2d');
            var config = setPlot(details);
            new Chart(ctx, config);
          });
        };


    </script>




  </body>
</html>
