<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet">
  <meta charset="utf-8">
  <title>LGR</title>
  <style media="screen">
    body{
        padding-left:  30px;
        padding-right: 30px;
        font-family: 'Major Mono Display', monospace;
        background-color: #272C34;
        color: white;
      }
    .titulo{
      padding: 10px;
    }

    canvas {
  		-moz-user-select: none;
  		-webkit-user-select: none;
  		-ms-user-select: none;
  	}
  	.chart-container {
  		width: 500px;
  		margin-left: 40px;
  		margin-right: 40px;
  		margin-bottom: 40px;
  	}
  	.container {
  		display: flex;
  		flex-direction: row;
  		flex-wrap: wrap;
  		justify-content: center;
  	}
	</style>
</head>

<body>


  <div class="titulo">
    <h1>Lugar geometrico <br> de las raices</h1>

  </div>

  <form class=""  method="post">
    G: <input type="text" name="G" value={{planta}}>
    Mp: <input type="text" name="mp" value={{mp}}>
    Ta: <input type="text" name="ta" value={{ta}}>
    <br>
    <br>
    <input type="radio" name="action" value="PD" checked>PD <br>
    <input type="radio" name="action" value="PID">PID <br>
    <input type="radio" name="action" value="PI">PI <br>
    <br>

    <button type="submit" name="button">subir</button>
  </form>

  <div class="">
    <h3>{{constantes}}</h3>
  </div>





  <div class="container">
	</div>

  <script>

    function setPlot(features){
      var Data = features.Yset;
      var XData = features.Xset;
      var sets = [];
        for (var ids = 0; ids < Data.length; ids++){
          let dataSet = Data[ids];
          let Xset = XData[ids];
          var dataWFormat = [];
          for (var i = 0; i < dataSet.length; i++) {
            var obj = {x:Xset[i],y:dataSet[i]};
            dataWFormat.push(obj);
          }
          var color = features.color;
          if(ids>0){
            color = 'rgb('+(90*ids).toString()+','+ (100*ids).toString()+','+ (70*ids).toString()+')';
          }
          var plot = {
            data: dataWFormat,
            label: features.label,
            borderColor: color,
            backgroundColor: color,
            fill: false
          };
          sets.push(plot);
        }

      return{
          type : 'line',
          data : {
            datasets: sets
          },
          options:{
            responsive: true,
            title:{
              display: true,
              text: features.label
            },
            scales: {
                xAxes: [{
                    type: 'linear',
                    position: 'bottom'
                }]
            }
          }

          };
    }

      window.onload = function() {
        var container = document.querySelector('.container');

        var plots = [{
          steppedLine: false,
          label: 'Respuesta en tiempo ',
          color: 'rgb(255, 99, 132)',
          Yset: {{yi|tojson|safe}},
          Xset: {{ti|tojson|safe}},
        }, {
          steppedLine: false,
          label: 'Respuesta en tiempo con controlador',
          color: 'rgb(54, 162, 235)',
          Yset: {{yo|tojson|safe}},
          Xset: {{to|tojson|safe}},
        }, {
          steppedLine: false,
          label: 'LGR planta',
          color: 'rgb(75, 192, 192)',
          Yset: {{imagI|tojson|safe}},
          Xset: {{realI|tojson|safe}},
        }, {
          steppedLine: false,
          label: 'LGR con controlador',
          color: 'rgb(255, 205, 86)',
          Yset: {{imagO|tojson|safe}},
          Xset: {{realO|tojson|safe}},
        }];

        plots.forEach(function(details) {
          var div = document.createElement('div');
          div.classList.add('chart-container');

          var canvas = document.createElement('canvas');
          div.appendChild(canvas);
          container.appendChild(div);

          var ctx = canvas.getContext('2d');
          var config = setPlot(details);
          new Chart(ctx, config);
        });
      };


  </script>





</body>

</html>
