<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet">
  <meta charset="utf-8">
  <title>LGR</title>
  <style media="screen">
    body{
        padding-left:  30px;
        padding-right: 30px;
        font-family: 'Major Mono Display', monospace;
        background-color: #272C34;
        color: white;
      }
    .titulo{
      padding: 10px;
    }
    </style>
</head>

<body>


  <div class="titulo">
    <h1>Lugar geometrico <br> de las raices</h1>

  </div>

  <form class=""  method="post">
    G: <input type="text" name="G" value={{planta}}>
    Mp: <input type="text" name="mp" value={{mp}}>
    Ta: <input type="text" name="ta" value={{ta}}>
    <br>
    <br>
    <input type="radio" name="action" value="PD" checked>PD <br>
    <input type="radio" name="action" value="PID">PID <br>
    <input type="radio" name="action" value="PI">PI <br>
    <br>

    <button type="submit" name="button">subir</button>
  </form>

  <div class="">
    <h3>{{constantes}}</h3>
  </div>



  <div >
    <canvas id="myChart" ></canvas>
  </div>

  <script>
    var str = "How are you doing today?";
    var res = str.split("o");
    console.log(res[1]);
    xa = {{a|tojson|safe}};
    ya = {{b|tojson|safe}};
    var c = [];
    for (var i = 0; i < xa.length; i++) {
      var obj = {x:xa[i],y:ya[i]};
      c.push(obj);

    }

    var ctx = document.getElementById("myChart").getContext('2d');
    var scatterChart = new Chart(ctx, {
    type: 'line',

    data: {
        datasets: [{
            label: 'Respuesta en tiempo',
            fill: false,
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: c
        }]
    },
    options: {
      layout: {
            padding: {
                left: 50,
                right: 50,
                top: 50,
                bottom: 120
            }
        },
        responsive: true,
				title: {
					display: true,
					text: 'RT'
				},
				tooltips: {
					mode: 'index',
					intersect: false,
				},
				hover: {
					mode: 'nearest',
					intersect: true
				},
        scales: {
            xAxes: [{
                type: 'linear',
                position: 'bottom'
            }]
        }
    }
});
  </script>





</body>

</html>
